* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  padding: 20px;
}

.box1 {
  width: 300px;
  position: absolute;
  height: 300px;
  background-color: crimson;
  animation-name: animate;
  animation-duration: 2s;
  animation-delay: 2s;
}

@keyframes animate {
  from{
    left: 0%;
    rotate: 0deg;
    border-radius: 0%;
    background-color: crimson;
  }
  to{
    border-radius: 50%;
    rotate:360deg;
    left: 70%;
    background-color: green;
  }
}

.box2{
    top:50%;
    width: 300px;
  position: absolute;
  height: 300px;
  background-color: rgb(47, 213, 255);
  animation-name: animated;
  animation-duration: 2s;
  animation-delay: 2s;
}

@keyframes animated {
    from{
        border-radius: 0;
        rotate: 0deg;
        left: 0%;
        background-color: rgb(47, 213, 255);
    }
    to{
        border-radius: 50%;
        left: 70%;
        rotate: 360deg;
        background-color: rgb(0, 85, 255);
    }
}
