* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main {
  .nav {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    align-items: center;
    padding: 30px;

    .head {
      display: flex;
      border-right: 1px solid black;
      padding-right: 1rem;
      gap:50px;
      .h-p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-right: 1rem;

        h1 {
          font-size: 2rem;
        }
        p {
          font-size: 10px;
        }
      }
    }
    .links {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid black;
      padding-right: 1rem;
    }
    .links-i {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 1rem;
    }
  }
}
