* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: fit-content;
  width: 100%;
  background-repeat: no-repeat;
  font-family: "Eater";
}

.main {
  height: 100%;
  padding: 0.5px;
}
.main .nav {
  font-family: "Eater";
  margin-top: 2rem;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  align-items: center;
  padding: 0px 100px;
}
.main .nav .h-p {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  line-height: 20px;
  align-items: center;
}
.main .nav .h-p h1 {
  padding-top: 10px;
  font-size: 2.5rem;
}
.main .nav .h-p h1 sup {
  font-size: 15px;
}
.main .nav .h-p .p {
  font-size: 0.8rem;
  display: flex;
  padding-left: 65px;
  padding-top: 10px;
}
.main .nav .para {
  height: 100%;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  padding-right: 4rem;
  border-right: 1px solid black;
}
.main .nav i {
  height: 100%;
  display: flex;
  align-items: center;
}
.main .center {
  margin-top: 2rem;
  height: 32rem;
  position: relative;
  width: 100%;
  z-index: 0;
}
.main .center video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0px 3rem;
  object-position: center;
  z-index: 0;
}
.main .center .img-content {
  position: absolute;
  width: 100%;
  top: 55%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 2rem;
  color: rgb(38, 3, 11);
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-bottom: 2rem;
  padding: 0px 30px;
}
.main .center .img-content .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}
.main .center .img-content .content h1 {
  width: 22%;
}
.main .center .img-content .content .circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid rgb(38, 3, 11);
  color: rgb(38, 3, 11);
  align-items: center;
  justify-content: center;
  display: flex;
}
.main .center .img-content .line {
  width: 93%;
  display: flex;
  height: 2px;
  background-color: rgb(38, 3, 11);
  margin: 0px 50px;
}
.main .center .img-content .p-arrow {
  color: rgb(38, 3, 11);
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
}
.main .center .img-content .p-arrow i {
  font-size: 2rem;
}
.main .marque {
  padding: 2rem;
  display: flex;
  width: 100%;
  overflow: hidden;
}
.main .marque .elemsnts {
  display: flex;
  width: max-content;
  gap: 2rem;
  animation-name: marque;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.main .marque .elemsnts img {
  display: block;
  flex: 0 0 auto;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  animation-direction: reverse;
}
.main .elemsnts::-webkit-scrollbar {
  display: none;
}
@keyframes marque {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.main .albhabets {
  margin-top: 3rem;
  display: flex;
  gap: 1.5rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px 30px;
  align-items: center;
  justify-content: center;
}
.main .albhabets ::selection {
  color: red;
}
.main .albhabets .circle {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.main .albhabets p {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all linear 0.2s;
}
.main .albhabets h2 {
  color: rgb(0, 0, 0);
  letter-spacing: 10px;
  padding-right: 50px;
}
.main .albhabets .opacity {
  opacity: 0.5;
}
.main .albhabets p:hover {
  font-size: 2rem;
}
.main .sec1 {
  display: flex;
  padding: 5rem;
  height: 80%;
  width: 100%;
  align-self: center;
  gap: 2rem;
  justify-content: space-between;
}
.main .sec1 .left {
  width: 50%;
  height: 20%;
}
.main .sec1 .left img {
  object-fit: cover;
  width: 100%;
  height: 70%;
  object-position: 0px -40px;
}
.main .sec1 .right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12rem;
  padding-left: 2rem;
}
.main .sec1 .right .top-right {
  align-items: center;
  width: 100%;
}
.main .sec1 .right .top-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main .sec1 .right .bottom-right {
  display: flex;
  padding-left: 2.5rem;
  justify-content: space-between;
}
.main .sec1 .right .bottom-right h4 {
  width: 20%;
}
.main .sec1 .right .bottom-right p {
  width: 50%;
}
.main .heading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}
.main .sec2 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 6rem;
}
.main .sec2 .boxes {
  padding: 10px 2rem;
  border-top: 2px solid black;
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.main .sec2 .boxes img {
  position: absolute;
  width: 90px;
  height: 90px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  animation-name: hover;
  left: 15%;
  transition: all ease 0.7s;
  opacity: 0;
}
.main .sec2 .boxes .name {
  width: 20px;
}
.main .sec2 .boxes .h-p h1,
.main .sec2 .boxes .h-p p {
  font-weight: 400;
  margin-left: -40rem;
}
.main .sec2 .boxes:hover img {
  opacity: 1;
  left: 35%;
}
.main .sec3 {
  margin-top: 7rem;
  display: flex;
  width: 100%;
  height: fit-content;
  overflow-y: hidden;
  overflow-x: auto;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 2vh;
  white-space: nowrap;
}
.main .sec3 h1 {
  display: inline-block;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
  margin-left: 16px;
  -webkit-text-stroke: 2px black;
  letter-spacing: 5px;
}
.main .sec3 h1::selection {
  color: green;
}
.main .sec3::-webkit-scrollbar {
  display: none;
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
.main .footer {
  margin-top: 7rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.main .footer .left {
  width: 40%;
  height: 210px;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  border-right: 2px solid black;
}
.main .footer .left p {
  padding-top: 15px;
}
.main .footer .middle {
  width: 20%;
  height: 2rem;
  padding: 10px 20px;
}
.main .footer .middle p {
  padding-left: 25%;
  padding-top: 15px;
}
.main .footer .right {
  width: 40%;
  height: 210px;
  border-left: 2px solid black;
}
.main .footer .right .top {
  padding: 10px 20px;
  height: 40%;
  border-bottom: 2px solid black;
}
.main .footer .right .top h2 {
  font-size: 1rem;
}
.main .footer .right .bottom {
  padding: 10px 20px;
  height: 1rem;
  gap: 2.5rem;
}
.main .footer .right .bottom p {
  font-size: 0.9rem;
}
.main .footer .left::selection,
.main .footer .middle::selection,
.main .footer .right::selection {
  color: green;
}