* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;

  font-family: "Eater";
}

.main {
  height: 100%;
  padding: 0.5px;
  .nav {
    font-family: "Eater";
    margin-top: 2rem;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    align-items: center;
    padding: 0px 100px;

    .h-p {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-right: 1rem;
      line-height: 20px;
      align-items: center;
      h1 {
        padding-top: 10px;
        font-size: 2.5rem;

        sup {
          font-size: 15px;
        }
      }
      .p {
        font-size: 0.8rem;
        display: flex;
        padding-left: 65px;
        padding-top: 10px;
      }
    }

    .para {
      height: 100%;
      padding-right: 1rem;
      display: flex;
      align-items: center;
      padding-right: 4rem;
      border-right: 1px solid black;
    }
    i {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .center {
    margin-top: 2rem;
    height: 32rem;
    position: relative;
    width: 100%;
    z-index: 0;
    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      padding: 0px 3rem;
      object-position: center;
      z-index: 0;
    }
    .img-content {
      position: absolute;
      width: 100%;
      top: 55%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 0px 2rem;
      color: rgb(38, 3, 11);
      display: flex;
      flex-direction: column;
      z-index: 2;
      margin-bottom: 2rem;
      padding: 0px 30px;

      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px;

        h1 {
          width: 22%;
        }
        .circle {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          border: 2px solid rgb(38, 3, 11);
          color: rgb(38, 3, 11);
          align-items: center;
          justify-content: center;
          display: flex;
        }
      }
      .line {
        width: 93%;
        display: flex;
        height: 2px;
        background-color: rgb(38, 3, 11);
        margin: 0px 50px;
      }

      .p-arrow {
        color: rgb(38, 3, 11);
        display: flex;
        justify-content: space-between;
        padding: 0px 50px;

        i {
          font-size: 2rem;
        }
      }
    }
  }

  .marque {
    padding: 2rem;
    display: flex;
    width: 100%;
    overflow: hidden;

    .elemsnts {
      display: flex;
      width: max-content;
      gap: 2rem;

      animation-name: marque;
      animation-duration: 20s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      img {
        display: block;
        flex: 0 0 auto;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        animation-direction: reverse;
      }
    }
  }

  .elemsnts::-webkit-scrollbar {
    display: none;
  }

  @keyframes marque {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  .albhabets {
    margin-top: 3rem;
    display: flex;
    gap: 1.5rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 30px;
    align-items: center;
    justify-content: center;

    ::selection {
      color: red;
    }
    .circle {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
    }
    p {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all linear 0.2s;
    }
    h2 {
      color: rgb(0, 0, 0);
      letter-spacing: 10px;
      padding-right: 50px;
    }

    .opacity {
      opacity: 0.5;
    }

    p:hover {
      font-size: 2rem;
    }
  }

  .sec1 {
    display: flex;
    padding: 5rem;
    height: fit-content;
    width: 100%;
    align-self: center;
    gap: 2rem;
    justify-content: space-between;

    .left {
      width: 50%;

      img {
        object-fit: cover;
        width: 100%;
        height: 70%;
        object-position: 0px -40px;
      }
    }

    .right {
      width: 50%;
      height: 20%;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      padding-left: 2rem;

      .top-right {
        align-items: center;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .bottom-right {
        display: flex;
        padding-left: 2.5rem;
        justify-content: space-between;

        h4 {
          width: 20%;
        }

        p {
          width: 50%;
        }
      }
    }
  }
}
