* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main .nav {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  align-items: center;
  padding: 30px;
}
.main .nav .head {
  display: flex;
  border-right: 1px solid black;
  padding-right: 1rem;
  gap: 50px;
}
.main .nav .head .h-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
}
.main .nav .head .h-p h1 {
  font-size: 2rem;
}
.main .nav .head .h-p p {
  font-size: 10px;
}
.main .nav .links {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  padding-right: 1rem;
}
.main .nav .links-i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}