* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Eater";
}

.main {
  height: 100%;
  padding: 0.5px;
}
.main .nav {
  font-family: "Eater";
  margin-top: 2rem;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  align-items: center;
  padding: 0px 100px;
}
.main .nav .h-p {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  line-height: 20px;
  align-items: center;
}
.main .nav .h-p h1 {
  padding-top: 10px;
  font-size: 2.5rem;
}
.main .nav .h-p h1 sup {
  font-size: 15px;
}
.main .nav .h-p .p {
  font-size: 0.8rem;
  display: flex;
  padding-left: 65px;
  padding-top: 10px;
}
.main .nav .para {
  height: 100%;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  padding-right: 4rem;
  border-right: 1px solid black;
}
.main .nav i {
  height: 100%;
  display: flex;
  align-items: center;
}
.main .center {
  margin-top: 2rem;
  height: 32rem;
  position: relative;
  width: 100%;
  z-index: 0;
}
.main .center video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0px 3rem;
  object-position: center;
  z-index: 0;
}
.main .center .img-content {
  position: absolute;
  width: 100%;
  top: 55%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 2rem;
  color: rgb(38, 3, 11);
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-bottom: 2rem;
  padding: 0px 30px;
}
.main .center .img-content .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}
.main .center .img-content .content h1 {
  width: 22%;
}
.main .center .img-content .content .circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid rgb(38, 3, 11);
  color: rgb(38, 3, 11);
  align-items: center;
  justify-content: center;
  display: flex;
}
.main .center .img-content .line {
  width: 93%;
  display: flex;
  height: 2px;
  background-color: rgb(38, 3, 11);
  margin: 0px 50px;
}
.main .center .img-content .p-arrow {
  color: rgb(38, 3, 11);
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
}
.main .center .img-content .p-arrow i {
  font-size: 2rem;
}
.main .marque {
  margin-top: 2rem;
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 5rem;
  overflow: auto;
}
.main .marque .elemsnts {
  white-space: nowrap;
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  overflow: hidden;
}
.main .marque .elemsnts img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main .marque::-webkit-scrollbar {
  display: none;
}