* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: fit-content;
  width: 100%;

  background-repeat: no-repeat;
  font-family: "Eater";
}

.main {
  height: 100%;
  padding: 0.5px;
  .nav {
    font-family: "Eater";
    margin-top: 2rem;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    align-items: center;
    padding: 0px 100px;

    .h-p {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-right: 1rem;
      line-height: 20px;
      align-items: center;
      h1 {
        padding-top: 10px;
        font-size: 2.5rem;

        sup {
          font-size: 15px;
        }
      }
      .p {
        font-size: 0.8rem;
        display: flex;
        padding-left: 65px;
        padding-top: 10px;
      }
    }

    .para {
      height: 100%;
      padding-right: 1rem;
      display: flex;
      align-items: center;
      padding-right: 4rem;
      border-right: 1px solid black;
    }
    i {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .center {
    margin-top: 2rem;
    height: 32rem;
    position: relative;
    width: 100%;
    z-index: 0;
    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      padding: 0px 3rem;
      object-position: center;
      z-index: 0;
    }
    .img-content {
      position: absolute;
      width: 100%;
      top: 55%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 0px 2rem;
      color: rgb(38, 3, 11);
      display: flex;
      flex-direction: column;
      z-index: 2;
      margin-bottom: 2rem;
      padding: 0px 30px;

      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px;

        h1 {
          width: 22%;
        }
        .circle {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          border: 2px solid rgb(38, 3, 11);
          color: rgb(38, 3, 11);
          align-items: center;
          justify-content: center;
          display: flex;
        }
      }
      .line {
        width: 93%;
        display: flex;
        height: 2px;
        background-color: rgb(38, 3, 11);
        margin: 0px 50px;
      }

      .p-arrow {
        color: rgb(38, 3, 11);
        display: flex;
        justify-content: space-between;
        padding: 0px 50px;

        i {
          font-size: 2rem;
        }
      }
    }
  }

  .marque {
    padding: 2rem;
    display: flex;
    width: 100%;
    overflow: hidden;

    .elemsnts {
      display: flex;
      width: max-content;
      gap: 2rem;

      animation-name: marque;
      animation-duration: 20s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      img {
        display: block;
        flex: 0 0 auto;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        animation-direction: reverse;
      }
    }
  }

  .elemsnts::-webkit-scrollbar {
    display: none;
  }

  @keyframes marque {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  .albhabets {
    margin-top: 3rem;
    display: flex;
    gap: 1.5rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 30px;
    align-items: center;
    justify-content: center;

    ::selection {
      color: red;
    }
    .circle {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
    }
    p {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all linear 0.2s;
    }
    h2 {
      color: rgb(0, 0, 0);
      letter-spacing: 10px;
      padding-right: 50px;
    }

    .opacity {
      opacity: 0.5;
    }

    p:hover {
      font-size: 2rem;
    }
  }

  .sec1 {
    display: flex;
    padding: 5rem;
    height: 80%;
    width: 100%;

    align-self: center;
    gap: 2rem;
    justify-content: space-between;

    .left {
      width: 50%;
      height: 20%;
      img {
        object-fit: cover;
        width: 100%;
        height: 70%;
        object-position: 0px -40px;
      }
    }

    .right {
      width: 50%;
      height: 100%;
      display: flex;

      flex-direction: column;
      gap: 12rem;
      padding-left: 2rem;

      .top-right {
        align-items: center;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .bottom-right {
        display: flex;
        padding-left: 2.5rem;
        justify-content: space-between;

        h4 {
          width: 20%;
        }

        p {
          width: 50%;
        }
      }
    }
  }

  .heading {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
  }
  .sec2 {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 0px 6rem;

    .boxes {
      padding: 10px 2rem;
      border-top: 2px solid black;
      display: flex;
      width: 100%;
      position: relative;
      justify-content: space-between;

      align-items: center;

      img {
        position: absolute;
        width: 90px;
        height: 90px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        animation-name: hover;
        left: 15%;
        transition: all ease 0.7s;
        opacity: 0;
      }

      .name {
        width: 20px;
      }

      .h-p {
        h1,
        p {
          font-weight: 400;
          margin-left: -40rem;
        }
      }
    }

    .boxes:hover img {
      opacity: 1;
      left: 35%;
    }
  }

  .sec3 {
    margin-top: 7rem;
    display: flex;
    width: 100%;
    height: fit-content;

    overflow-y: hidden;
    overflow-x: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 2vh;
    white-space: nowrap;

    h1 {
      display: inline-block;
      animation-name: move;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 2s;
      margin-left: 16px;
      -webkit-text-stroke: 2px black;
      letter-spacing: 5px;
    }

    h1::selection {
      color: green;
    }
  }

  .sec3::-webkit-scrollbar {
    display: none;
  }

  @keyframes move {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }

  .footer {
    margin-top: 7rem;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    .left {
      width: 40%;
      height: 210px;
      display: flex;
      padding: 10px 20px;

      justify-content: space-between;
      border-right: 2px solid black;

      p {
        padding-top: 15px;
      }
    }
    .middle {
      width: 20%;
      height: 2rem;
      padding: 10px 20px;
      p {
        padding-left: 25%;
        padding-top: 15px;
      }
    }
    .right {
      width: 40%;
      height: 210px;

      border-left: 2px solid black;

      .top {
        padding: 10px 20px;
        height: 40%;
        border-bottom: 2px solid black;

        h2 {
          font-size: 1rem;
        }
      }
      .bottom {
        padding: 10px 20px;
        height: 1rem;

        gap: 2.5rem;

        p {
          font-size: 0.9rem;
        }
      }
    }
    .left::selection,
    .middle::selection,
    .right::selection {
      color: green;
    }
  }
}

@media (max-width: 600px) {
  .main {
    padding: 10px;
    overflow: hidden;
    .nav {
      margin-top: 0.5rem;

      height: 5vh;
      padding: 0px 0px;

      .h-p {
        padding-right: 0.4rem;
        line-height: 20px;
        position: relative;
        h1 {
          padding-top: 0px;
          font-size: 0.7rem;
         
          sup {
            font-size: 5px;
          }
         
        }

         .p {
          background-color: rgba(0, 0, 255, 0.155);
         font-size: 5px;
         margin-top: -15px;
          margin-left: -3.3rem;
        }
        
      }

      .para {
        font-size: 7px;
        padding-right: 10px;
      }
    }

    .center {
      height: 25rem;
      margin-bottom: 0;
      video {
        padding: 0px 0rem;
      }
      .img-content {
        top: 60%;

        padding: 0px 0px;
        color: #f0a3a3;

        .content {
          padding: 0px 10px;

          h1 {
            font-size: 12px;
          }
          .circle {
            border: 2px solid #f0a3a3;
            color: #f0a3a3;
          }
        }
        .line {
          width: 92%;
          background-color: #f0a3a3;
          margin: 0px 10px;
        }

        .p-arrow {
          color: #f0a3a3;

          padding: 0px 10px;
        }
      }
    }

    .marque {
      margin-top: 2rem;
      padding: 1rem;

      .elemsnts {
        gap: 1rem;

        img {
          width: 5rem;
          height: 5rem;
        }
      }
    }

    .albhabets {
      margin-top: 2rem;

      gap: 0.5rem;

      padding: 10px 0px;

      ::selection {
        color: red;
      }
      .circle {
        width: 20px;
        height: 20px;
      }
      p {
        font-size: 5px;
      }
      h2 {
        font-size: 15px;

        letter-spacing: 5px;
        padding-right: 5px;
      }
    }

    .sec1 {
      margin-top: 2rem;
      padding: 0rem;

      gap: 0.5rem;

      .left {
        img {
          object-position: 0px -10px;
        }
      }

      .right {
        gap: 0rem;
        padding-left: 0rem;

        .top-right {
          img {
            width: 11.6rem;
            height: 12rem;
          }
        }

        .bottom-right {
          padding-left: 0rem;

          h4 {
            font-size: 0.5rem;
            width: 50%;
          }

          p {
            font-size: 0.5rem;
          }
        }
      }
    }

    .heading {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
    .sec2 {
      margin-top: 1rem;
      padding: 0px 0px;

      .boxes {
        padding: 10px 10px;

        p {
          font-size: 0.7rem;
        }
        img {
          width: 50px;
          height: 50px;

          left: 10%;
        }

        .name {
          width: 20px;
        }

        .h-p {
          h1,
          p {
            font-size: 0.5rem;

            margin-left: -100px;
          }
        }
      }
    }

    .sec3 {
      margin-top: 4rem;

      padding: 1vh;

      h1 {
        font-size: 1.9rem;
      }
    }

    .footer {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .left {
        width: 100%;
        align-items: center;
        display: flex;
        padding: 0px 10px;
        height: fit-content;
        border-left: 2px solid black;
        border-bottom: 2px solid black;

        h1 {
          font-size: 30px;
        }
        p {
          padding-top: 0px;
          font-size: 10px;
        }
      }
      .middle {
        height: fit-content;
        width: 100%;
        padding: 0px 0px;
        border-bottom: none;
        p {
          font-size: 25px;
        }
      }
      .right {
        width: 100%;

        border-left: 2px solid black;
        border-right: 2px solid black;
        border-top: 2px solid black;
        .top {
          padding: 10px 20px;
          height: 40%;
          border-bottom: 2px solid black;

          h2 {
            font-size: 1rem;
          }
        }
        .bottom {
          display: flex;
          flex-direction: column;
          padding: 10px 20px;
          height: 4rem;

          gap: 0.5rem;

          p {
            font-size: 0.9rem;
          }
        }
      }
      .left::selection,
      .middle::selection,
      .right::selection {
        color: green;
      }
    }
  }
}
