*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
}



main{
    padding: 20px;

}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(230, 229, 229);
    padding: 20px;
}
.nav{
    background-color: rgb(182, 252, 182);
}
section{
    padding: 20px;
    width: 100%;
    height: 40rem;
    margin-top: 20px;
    background-color: rgb(255, 237, 203);
}

.artical{
    background-color: rgb(241, 159, 159);
}


footer{
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(183, 178, 251);
}


aside{
    position: absolute;
    top:50%;
    right: 3%;
    position: fixed;
    background-color: white;
    border-radius: 5px;
    border:none;
    padding: 20px;
    
}

audio{
    margin-top: 20px;
}

video{
    margin-top: 20px;
}