* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*  fixed size PX   */
.px {
  width: 50px;
  height: 50px;
  background-color: aqua;
}

/*  depend on screen */

.percentage {
  width: 50%;
  height: 50%;
  background-color: red;
}

/*  depent on current element font size */
.em {
  width: fit-content;
  overflow: hidden;
  background-color: yellow;
}
/* depend on Screen but we can manage by parent element */
.vh {
  overflow: hidden;
  width: 50vw;
  height: 50vh;
}

.vh div {
  background-color: green;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
}

.em div {
  font-size: 12px;
  width: 20em;
  height: 20em;
  background-color: blue;
}

/*  depend on root element font size */

.rem {
  width: 10rem;
  height: 10rem;
  background-color: aqua;
}

.max-h-w {
   width: 300px;
   height: 700px;
    max-width: 200px;
    min-width: 100px;
    min-height: 100px;
    max-height: 500px;
    background-color: blue;
}
