*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    font-size: 10px;
    height: 100%;
    width: 100%;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
}


.px{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}
.percentage{
    width: 200px;
    height : 200px;
    background-color: skyblue;


}

.percentage .child {
    height: 40%;
    width: 40%;
    background-color: gray;
}

.vmax{
    height: 20vh;
    background-color: orange;
    width: 20vw;
}


.em{
    font-size: 20px;
    
}
.em .div1 {
    font-size: 2em;
}
.em .div2{
    font-size: 1.5em;
}

.rem {
    font-size: 2rem;
}

.vmax{
    font-size: 5vmax;
}
.vmin{
    font-size: 3vmin;
}

.media{
    width: 200px;
    height: 200px;


    background-color: crimson;

}


@media (min-width:600px) {
     .media{
        background-color: green;
     }
}