*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    padding: 2vh;
    background-color: black;
    width: 100%;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
}

button{
    padding: 10px 20px;
    background-color: transparent;
    color: aqua;
     font-weight: 600;
    border: 2px solid aqua;
    position: relative;
    transition: all linear 0.3s;
     overflow: hidden;
     
}

button::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top:50% ;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background-color: aqua;
   transition: all linear 0.3s;
    z-index: -1;

}

button:hover::after{
     transform: translate(-50%,-50%) scale(3);
}


button:hover{
    color : black ;
     z-index: 1;
     font-weight: 600;
}