* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


.footer{
    display: grid;
    grid-template-columns:50% 10% 10% 10% 10% ;
    grid-template-rows: 100px;
   justify-content: end;
    align-items: center;
    font-size: 1.2rem;
   
}

.footer h1 {
    justify-self: start;
    
}