*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
}

.div1{
    width: 200px;
    height: 200px;
    background-color: crimson;
   animation-name: move;
  animation-delay: 2s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  position: absolute;
}

.div2{
    width: 100px;
    height: 100px;
    background-color: crimson;
   animation-name: same;
  animation-delay: 2s;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  animation-timing-function:ease;
  animation-iteration-count: infinite;
  position: absolute;
  top: 50%;
}

@keyframes move{
    from{
    top:0%;
    left:0%
    }
    50%{
        top:0%;
        left:70%;
    }
    to{
        left:70%;
     top: 70%;
    }
}

@keyframes same{
    from{
    top:50%;
    left:0%;

    }
    30%{
    top:50%;
    left: 50%;
    
    }
    60%{
    left: 50%;
    top:70%
    }
    90%{
         top:70%;
         left:0%
    }
    to{
     top:50%;
    left:0%;
    }
}