*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
}


.flex{
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: gray;
  display: flex;
}

.div1{
    width: 200px;
    height: 200px;
    background-color: yellow;

}

.div2{
    width: 200px;
    height: 200px;
    background-color: red;
}

.div3{
    width: 200px;
    height: 200px;
    background-color: green;
}

.div1:hover{
  background-color: pink;
}

.div2:active{
    background-color: blue;
}

input:focus{
    background-color: burlywood;
}

p:nth-child(2n){
    color: red;
}

p{
    width: fit-content;
    position: relative;
}

p::before{
    content: "";
    background-color: red;
    height: 2px;
    width: 100%;
    position: absolute;
    top:20px;
}

p::after{
    content: "";
    background-color: red;
    height: 2px;
    width: 100%;
    position: absolute;
    top:20px;
    left: 3%;
}

.paras::first-line{
    color: green;
}

.paras::first-letter{
    font-size: 10rem;
}

p::selection{
    color: blueviolet;
}