* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  align-items: center;
}
header .icon i {
  font-size: 50px;
}
header .nav {
  display: flex;
  gap: 50px;
}
header .nav .in {
  color: rgb(69, 67, 67);
}
header .nav p {
  opacity: 0.6;
}

.nav2 {
  padding: 20px;
  display: flex;
  gap: 60px;
}
.nav2 p {
  opacity: 0.6;
}

.main {
  width: 100%;
  height: calc(100% - 150px);
  display: flex;
  flex-direction: column;
}
.main .top {
  width: 100%;
  height: 40%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.main .top .items {
  flex-shrink: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .top .items .n-h {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.main .top .items h1 {
  padding-left: 20px;
  font-size: 4rem;
  font-weight: 300;
}
.main .top::-webkit-scrollbar {
  background-color: transparent;
  height: 7px;
}
.main .top::-webkit-scrollbar-thumb {
  background-color: orange;
}
.main .bottom {
  background-color: blue;
  display: flex;
  overflow-x: auto;
  width: 100%;
  height: 60%;
  flex-wrap: nowrap;
}
.main .bottom img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}
.main .bottom::-webkit-scrollbar {
  display: none;
}