@font-face {
  font-family: "WF Visual Sans";
  src: url("./font/font1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "WF Visual Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main {
  width: 100%;
  height: 100%;

  .nav {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

    .left {
      width: 30%;
      display: flex;
      justify-content: space-evenly;
    }

    img {
      width: 10vw;
    }
    .right {
      padding-right: 25px;
      display: flex;
      width: 30%;
      justify-content: flex-end;
      gap: 5px;

      .login {
        background-color: transparent;
        color: black;
      }

      button {
        border: none;
        background-color: black;
        border-radius: 20px;
        padding: 10px 20px;
        color: white;
      }
    }
  }

  .sec1 {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    .top {
      width: fit-content;
      background-color: pink;
      border-radius: 20px;
      padding: 10px 20px;
    }
    h1 {
      width: fit-content;
      text-align: center;
      font-size: 3.9rem;
      line-height: 55px;
      font-family: "WF Visual Sans";
    }

    button {
      border: none;
      background-color: black;
      border-radius: 20px;
      padding: 10px 20px;
      color: white;
    }
  }

  .sec2{
    margin-top: 4rem;
    
    height: 300px;
  width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    overflow-y: hidden;
    
  
    .element{
     width: 250px;
    overflow: hidden;
     height: 300px;
    margin-left: 20px;
     display: inline-block;
     background-color: gray; 
     border-radius: 20px;
     animation-name: move;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-duration: 7s;
     position: relative;

     img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
     }
     video{
       width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;  
     }
      .bottom-texts{
        position: absolute;
        width: 100%;
        color: white;

        bottom:0;
        padding: 10px 20px ;
        display: flex;
        flex-direction: column;
        gap:5px;


        .buttons{
            button{
                  border-radius: 15px;
                  color: white;
                  border: none;
                  padding: 10px 20px ;
                  width: fit-content;
                  background-color: rgba(255, 255, 255, 0.118);
                  backdrop-filter: blur(3px);
            }

        }
      }

    }
}
 .sec2::-webkit-scrollbar{
     display: none;
   }  

   .sec3-heading{
    margin-top: 4rem;
    text-align: center;
   }

   .sec3{
    margin-top: 1rem;
    height: 100%;
    
    padding: 10px 50px;

    .elements{
        background-color: red;
        margin-left: 20px;
        margin-bottom: 20px;
        width: 250px;
        height: 200px;
        display: inline-block;
       overflow: hidden;
        border-radius: 15px;
         transition: all ease 0.4s;
        position: relative;
        img{
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;

        }
        video{
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }

        .bottom-hover{
            position: absolute;
            display: flex;
            justify-content: space-between;
            padding: 10px 10px;
            transition: all ease 0.4s;
            color: white;
            width: 100%;
            bottom: -40%;
            background:linear-gradient(transparent,rgba(0, 0, 0, 0.573));
            opacity: 0;
            height: 50px;

        }


       
    }
 .elements:hover .bottom-hover{
    bottom: 0;
    opacity: 1;

 }

 .elements:hover{
    box-shadow: 0px 3px 10px black;
 }
   }
}



@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 24px));
    }
}