@font-face {
  font-family: "WF Visual Sans";
  src: url("./font/font1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "WF Visual Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  width: 100%;
  height: 100%;
}
.main .nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.main .nav .left {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.main .nav img {
  width: 10vw;
}
.main .nav .right {
  padding-right: 25px;
  display: flex;
  width: 30%;
  justify-content: flex-end;
  gap: 5px;
}
.main .nav .right .login {
  background-color: transparent;
  color: black;
}
.main .nav .right button {
  border: none;
  background-color: black;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
}
.main .sec1 {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.main .sec1 .top {
  width: fit-content;
  background-color: pink;
  border-radius: 20px;
  padding: 10px 20px;
}
.main .sec1 h1 {
  width: fit-content;
  text-align: center;
  font-size: 3.9rem;
  line-height: 55px;
  font-family: "WF Visual Sans";
}
.main .sec1 button {
  border: none;
  background-color: black;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
}
.main .sec2 {
  margin-top: 4rem;
  height: 300px;
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  overflow-y: hidden;
}
.main .sec2 .element {
  width: 250px;
  overflow: hidden;
  height: 300px;
  margin-left: 20px;
  display: inline-block;
  background-color: gray;
  border-radius: 20px;
  animation-name: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  position: relative;
}
.main .sec2 .element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main .sec2 .element video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main .sec2 .element .bottom-texts {
  position: absolute;
  width: 100%;
  color: white;
  bottom: 0;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main .sec2 .element .bottom-texts .buttons button {
  border-radius: 15px;
  color: white;
  border: none;
  padding: 10px 20px;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.118);
  backdrop-filter: blur(3px);
}
.main .sec2::-webkit-scrollbar {
  display: none;
}
.main .sec3-heading {
  margin-top: 4rem;
  text-align: center;
}
.main .sec3 {
  margin-top: 1rem;
  height: 100%;
  padding: 10px 50px;
}
.main .sec3 .elements {
  background-color: red;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 250px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  border-radius: 15px;
  transition: all ease 0.4s;
  position: relative;
}
.main .sec3 .elements img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.main .sec3 .elements video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.main .sec3 .elements .bottom-hover {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  transition: all ease 0.4s;
  color: white;
  width: 100%;
  bottom: -40%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.573));
  opacity: 0;
  height: 50px;
}
.main .sec3 .elements:hover .bottom-hover {
  bottom: 0;
  opacity: 1;
}
.main .sec3 .elements:hover {
  box-shadow: 0px 3px 10px black;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 24px));
  }
}