


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
 
}

.main {
  width: 100%;
  height: 100%;
}
.main .nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.main .nav .left {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.main .nav img {
  width: 10vw;
}
.main .nav .right {
  padding-right: 25px;
  display: flex;
  width: 30%;
  justify-content: flex-end;
  gap: 5px;
}
.main .nav .right .login {
  background-color: transparent;
  color: black;
}
.main .nav .right button {
  border: none;
  background-color: black;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
}
.main .sec1 {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.main .sec1 .top {
  width: fit-content;
  background-color: pink;
  border-radius: 20px;
  padding: 10px 20px;
}
.main .sec1 h1 {
  width: fit-content;
  text-align: center;
  font-size: 3.9rem;
}
.main .sec1 button {
  border: none;
  background-color: black;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
}