*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
}


.nav{
    padding: 20px;
    display: flex;
    justify-content: end;
}
.nav header{
    display: flex;
    gap:5rem;
    align-items: center;
    justify-items: center;
}

.main{
    display: flex;
    margin-top: 20px;
    padding: 20px;



}
.main .left{
    display: flex;
    width: 70%;
    flex-direction: column;
    gap:20px;
    padding-left: 50px;

}

.main .left h1{
    width: 60%;
    font-weight: 400;
    font-size: 4rem;
}
.main .left p{
    width: 50%;
    padding-bottom: 5rem;
}
.main .right{
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: flex-end;
    gap:10px;
    padding-right: 20px;
}
.main .right .para1 {
       display: flex;
       justify-content: space-between;
}
.main .right .para1 i {
       opacity: 0;
}

.main .right .link{
    display: flex;
    justify-content: space-between;
}
.main .right .link i{
    opacity: 0;
}
.main .right .para2 {
    justify-content: space-between;
    display: flex;

}
.main .right .para2 i {
    opacity: 0;
    
}
.main .right .link a{
    color: black;
}
img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.main .right :hover i{
     opacity: 1;
     
    
}