*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
}

.after-before{
  width: 200px;
  height: 200px;
  background-color: rgb(180, 255, 155);


}

.after-before::after{
    content: "kasa hoo";
}

.after-before::before{
    content: "Namasta ji ";
}