* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Eater Display ;
}


p{
  font-size: 20px;
  font-weight: 100;
  line-height: 1em;
  text-align: justify;
  padding: 20px;
  margin: 1px;
  border: 5px double black;
}