* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main {
  height: 100%;
  width: 100%;
  display: grid;
  padding: 30px;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 30% 55% 15%;
}

.left-top-left {
  grid-column: 1;
  padding: 20px;
}
.left-top-left .square {
  background-color: black;
  width: 20px;
  height: 20px;
  rotate: 45deg;
}
.left-top-right {
  grid-column: 2;

  padding: 20px;
}

.left-top-right h5 {
  justify-self: right;
  opacity: 0.6;
}
.left-top-right h4 {
  justify-self: right;
  margin-bottom: 4rem;
}

.left-center {
  grid-column: 1/3;
  grid-row: 2;
  padding-bottom: 10px;
  
}
.left-center h1 {
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: -1px;
}
.left-center :nth-child(2n) {
  padding-left: 80px;
}

.left-bottom {
  padding-top: 2vw;
  grid-column: 1/3;
 
}
.left-bottom p {
  width: 50%;
}

.right {
  padding: 40px;
  grid-column: 3;
  grid-row: 1/4;

}
.right video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.arrow {
  display: flex;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  position: absolute;
  align-items: center;
  top: 50%;
  left: 49%;
  transform: translate(50%, 50%);
  background-color: orange;
  color: white;
}
.arrow i {
  width: 5rem;
  text-align: center;
}

@media (max-width: 600px) {
  .main {
    padding: 10px;
    grid-template-rows: 20% 20% 50% 10%;
    grid-template-columns: 50% 50%;
  }
  .left-top-right {
    grid-column: 2;
    grid-row: 1;
  }

  .left-top-left {
    grid-column: 1;
    grid-row: 1;
  }
  .right {
    grid-column: 1/4;
    grid-row: 3/4;
     margin-top: 20px;
  }
  .left-center {
    grid-column: 1/4;
    grid-row: 2;
    margin-top: 20px;
  }
  .left-bottom {
    grid-column: 1/4;
    grid-row: 4;
  }
  .left-top-right h4 {
    margin-bottom: 1.3rem;
  }
  .left-center h1 {
    font-size: 1.6rem;
    letter-spacing: 6px;
    
  }
  .left-bottom p {
  width: 100%;
}
.arrow{
    display: none;
    
}

.right video {
    opacity: 1;
}
}
